
<div class="jumbotron center">
    <h1>WELCOME TO MY PINTEREST CLONE APP!</h1>
    <p>Looking cool?</p>
    
    <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
        <%= link_to "Join", new_user_registration_path, class: 'btn btn-info' %>
    <% end %>
</div>


 
